html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-layout {
  display: flex;
  flex-direction: column;
}
.logo-content{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-style: italic;
}
.logo{
  width: 100px;
}
nav {
  background-color: #363a45;
  display: flex;
  width:100%;
  padding: 10px 0px;
  text-align: center;
  justify-content: space-between;
}

nav ul {
  width: 30%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: #61DBFB;
  transition: all .3s ease-out;
}